.containerCard{
    display: flex;
    border: 1px solid black;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
}
.card-img img{
   height: 150px;
   width: 100px;
   margin: 5px;
   
}
.card-title{
margin: 5px;
}