.app_register {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  height: auto;
  flex: 48%;


  .app_register_form {
    align-items: center;
    justify-content: center;
    width: 50%;
    display: flex;
    // border: 2px solid yellow;
    .app_register_form2 {
      overflow-x: hidden;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 1.5rem;
      padding: 3%;
      -webkit-box-shadow: 11px 8px 24px 0px rgba(66, 68, 90, 1);
      -moz-box-shadow: 11px 8px 24px 0px rgba(66, 68, 90, 1);
      box-shadow: 11px 8px 24px 0px rgba(66, 68, 90, 1);
      width: 50vw;
      min-height: 98vh;
      span{
        overflow-x: hidden;
      }
      h4{
        text-align: center;
        padding: 15px;
        font-style: bold;
      }
      h1 {
        font-size: 30px;
        text-align: center;
        padding: 5px;
      }
      p {
        text-align: center;
        padding: 10px;
        font-size: 1.3rem;
        span{
          color: green;
        }
      }
     
    }
  }

  img {
    width: 100vw;
    height: 100vh;
  }
  .button {
    display: flex;
    justify-content: center;
    Button{
      font-size: 1.3rem;
      width: 160px;
      margin-top: 15px;
  
    }
  }
  
}