.header {
  position: fixed;
  top: 0;
  left: 0;
  translate: 0 -72px;
  width: 100%;
  height: 72px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
  transition: 0.5s;
  z-index: 1000;
}

.logo-flex{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 5px;
}

.area{
  margin-left: 1rem;
}

.visible {
  top: 0;
  translate: 0;
}


@media (max-width: 767px) {
  .howlist {
    flex-wrap: wrap;
  }

  .howlist li {
    flex: 1 0 100%; /* Take full width on smaller screens */
    margin-bottom: 10px;
  }

  .howlist li img {
    max-width: 100%; /* Take full width on smaller screens */
  }
}