.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.transition-300ms {
  transition: 300ms ease;
}

.cursor-pointer {
  cursor: pointer;
}

/* Apply custom styles to the scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set the background color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Set the color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set the color of the scrollbar handle on hover */
}
